<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css') }}">
    <title>Index</title>
</head>
<body>
    <div id='body-wrapper'>
      
      <header>
        <div>DaynaCodes.com</div>
        <nav>
          <ul>
            <li>Menu item</li>
            <li>Menu item</li>
            <li>Menu item</li>
            <li>Resume</li>
          </ul>
        </nav>
      </header>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 1
            </span>
            <span class='summary'>This is the first article about how to be a really good programmer.  You should read it right away.  Go read it now dude.  why are you still here. bl ajsjjsfjsdljlsdfsdl jsjjsfjsdljlsdfsdl jsjjsfjsdljlsdfsdl jsjjsfjsdljlsdfsdl jsjjsfjsdljlsdfsdl 
            </span>
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 2
            </span>
            <span class='summary'>This is the second article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 3
            </span>
           <span class='summary'>This is the third article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 4
            </span>
            <span class='summary'>This is the fourth article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 5  
            </span>
            <span class='summary'>This is the fifth article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>
      
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 6  
            </span>
            <span class='summary'>This is the fifth article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 7  
            </span>
            <span class='summary'>This is the fifth article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 8  
            </span>
            <span class='summary'>This is the fifth article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 9  
            </span>
            <span class='summary'>This is the fifth article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 10 
            </span>
            <span class='summary'>This is the fifth article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>
      
      <article>
        <div class="article-wrapper">
          <a href="article.html">
            <span class="title">How to be a really good programmer part 11 
            </span>
            <span class='summary'>This is the fifth article about how to be a really good programmer.  You should read it right away.
            </span>
            <span class='date'>10/03/2022
            </span>          
          </a>
        </div>
      </article>    
      
      <footer></footer>
    </div>    
  </body>
</html>